<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ampong Dental - Change Password</title>

    <link rel="stylesheet" href="../css/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/w3css/v4/w3.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-modal-fx-1.1.0/dist/css/modal-fx.min.css"> 
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-divider/dist/css/bulma-divider.min.css"> 
    <style type="text/css">
        .form-wrapper {
          max-width: 30%;
          min-width: 300px;
          padding: 50px 30px 50px 30px;
          margin: 50px auto;   
          background-color: #ffffff;
          border-radius: 5px;
          box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
        }

        .form-group {
          position:relative;  

          & + .form-group {
            margin-top: 30px;
          }
        }

        .form-label {
          position: absolute;
          left: 0;
          top: 10px;
          color: #999;
          background-color: #fff;
          z-index: 10;
          transition: transform 150ms ease-out, font-size 150ms ease-out;
        }

        .focused .form-label {
          transform: translateY(-125%);
          font-size: .75em;
        }

        .form-input {
          position: relative;
          padding: 12px 0px 5px 0;
          width: 100%;
          outline: 0;
          border: 0;
          box-shadow: 0 1px 0 0 #e5e5e5;
          transition: box-shadow 150ms ease-out;
          
          &:focus {
            box-shadow: 0 2px 0 0 blue;
          }
        }

        .form-input.filled {
          box-shadow: 0 2px 0 0 lightgreen;
        }

        .form-input.wrong {
          box-shadow: 0 2px 0 0 red;
        }

    </style>
</head>
<body>
    
    <div id="changePassword">

        <header-nav
            ref="headerNav"
            :page-counter= "pageCounter"
            :user-type = "userData.userType"
            @copy-user-data = "copyUserData"
        ></header-nav>

        <div class="">
            <div class="columns bp">
                
                <side-nav
                    :page-counter = "pageCounter"
                >
                </side-nav>

                <!-- MAIN -->

                <div class="column main">
                    <br>
                    <div class="w3-row">
                        <div class="w3-col l1">&nbsp</div>
                        <div class="w3-col l10">

                            <br>
                            <nav class="breadcrumb" aria-label="breadcrumbs">
                                <ul>
                                    <li><a href="#">Manage User Account</a></li>
                                </ul>
                            </nav>

                            <div class="w3-row box is-marginless">
                                <div class="w3-row">
                                    <div class="w3-row ">
                                        <div class="w3-col l6 is-size-4">
                                            <strong><i class="fas fa-key"></i> Change Password</strong>
                                        </div>
                                        <div class="w3-col l3">&nbsp</div>
                                    </div>
                                </div>
                                <hr>
                                <div class="w3-row">
                                    <div class="w3-col l4">&nbsp</div>
                                    <div class="w3-col l4">
                                        <div class="w3-row box">
                                                <div class="form">
                                                    <br>
                                                    <div class="w3-row">
                                                        <div class="form-group" :class="{focused : input[0]}">
                                                            <label class="form-label " :class="{'has-text-info' : input[0]}" for="currentPassword" >Current Password</label>
                                                            <div class="w3-row">
                                                                <div class="w3-col s11">
                                                                    <input id="currentPassword" class="form-input" 
                                                                    :class="{filled : inputModel[0].value != '' && inputModel[0].error == '',
                                                                            wrong : inputModel[0].error != ''}"
                                                                    v-model="inputModel[0].value" type="password" @blur="validatePassword(0)" @focus="inputFocus(0)"/>
                                                                    <p class="help is-danger">{{inputModel[0].error}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="w3-row">
                                                        <div class="form-group" :class="{focused : input[1]}">
                                                            <label class="form-label " :class="{'has-text-info' : input[1]}" for="newPassword" >New Password</label>
                                                            <div class="w3-row">
                                                                <div class="w3-col s11">
                                                                    <input id="newPassword" class="form-input" 
                                                                    :class="{filled : inputModel[1].value != '' && inputModel[1].error == '',
                                                                            wrong : inputModel[1].error != ''}"
                                                                    v-model="inputModel[1].value" type="password" @blur="validatePassword(1)" @focus="inputFocus(1)"/>
                                                                    <p class="help is-danger">{{inputModel[1].error}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    
                                                    <div class="w3-row">
                                                        <div class="has-text-black">Password Strength:</div>
                                                        <div class="has-text-grey-light">Should be 8 characters long.</div>
                                                    </div>

                                                    <br>
                                                    <br>

                                                    <div class="form-group" :class="{focused : input[2]}">
                                                        <label class="form-label" for="confirmPassword" :class="{'has-text-info' : input[2]}">Confirm New Password</label>
                                                        <div class="w3-row">
                                                            <div class="w3-col s11">
                                                                <input id="confirmPassword" class="form-input" 
                                                                :class="{filled : inputModel[2].value != '' && inputModel[2].error == '',
                                                                            wrong : inputModel[2].error != ''}"
                                                                v-model="inputModel[2].value" type="password" @blur="validatePassword(2)" @focus="inputFocus(2)"/>
                                                                    <p class="help is-danger">{{inputModel[2].error}}</p>

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <br>
                                                    <button class="button is-info" @click="changePassword" :disabled="disableChangeButton"><strong>Change Password</strong></button>
                                                </div>
                                                <modal-message
                                                    :is-active = "showSuccess"
                                                    :message = "successMessage"
                                                    :is-loading = "messageLoading"
                                                    @close-modal = "closeSuccessModal"
                                                >
                                                </modal-message>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w3-col l1">&nbsp</div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- script frame -->
    <script src="../js/lib/vue/dist/vue.js"></script>
    <script src="../js/lib/jquery/dist/jquery.js"></script>
    <script src="../js/lib/axios/dist/axios.min.js"></script>
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/components/layouts/modalMessage.js"></script>
    <script src="../js/components/layouts/sideNav.js"></script>
    <script src="../js/instances/changePassword.js"></script>

</body>

</html>