<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reports - Cost Summary </title>
    <link rel="stylesheet" href="../css/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/w3css/v4/w3.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-modal-fx-1.1.0/dist/css/modal-fx.min.css"> 
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-divider/dist/css/bulma-divider.min.css"> 


</head>
<style type="text/css">
    

</style>
<body>
    
    <div id="costSummary" v-cloak>

        <header-nav
            :page-counter = "pageCounter"
            @copy-user-data="copyUserData"
        >
        </header-nav>
        <!-- END NAV -->
        <div class="">
            <div class="columns bp">
                
                <side-nav
                    :page-counter = "pageCounter"
                    :user-data = "userData"
                >
                </side-nav>

                <!-- MAIN -->

                <div class="column main">
                    <br>
                    <div class="w3-row w3-container">

                        <!-- Start -->
                        <div class="w3-row box w3-card">
                            
                            <div class="w3-container">
                                <div class="w3-row- w3-center">
                                    <div class="w3-col l3">&nbsp</div>
                                    <div class="w3-col l6">
                                        <div class="w3-row w3-center">
                                            <div class="select" >
                                                <select @change="fetchCostSummary" v-model="numberOfMonths">
                                                    <option value="6">6 Months</option>
                                                    <option value="12">12 Months</option>
                                                    <option value="18">18 Months</option>
                                                    <option value="24">24 Months</option>
                                                    <option value="30">30 Months</option>
                                                    <option value="36">36 Months</option>
                                                    <option value="42">42 Months</option>
                                                    <option value="48">48 Months</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="w3-row">
                                            <canvas id="myChart"></canvas>
                                        </div>
                                        <br>
                                        <div class="w3-row w3-container">
                                            <table class="table is-fullwidth is-hoverable is-bordered is-striped w3-border w3-round ">
                                                <thead>
                                                    <tr class="has-background-dark">
                                                        <th class=" has-text-white ">#</th>
                                                        <th class=" has-text-white ">Month</th>
                                                        <th class=" has-text-white ">Kamuning</th>
                                                        <th class=" has-text-white ">Makati</th>
                                                        <th class=" has-text-white ">Total</th>
                                                    </tr>
                                                    
                                                </thead>
                                                <tfoot>
                                                    <tr class="has-background-grey-light">
                                                        <th class="w3-right-align" colspan="2" >Total:</th>
                                                        <th>₱ {{convertMoney(totalKamuning)}}</th>
                                                        <th>₱ {{convertMoney(totalMakati)}}</th>
                                                        <th>₱ {{convertMoney(totalTotal)}}</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody >
                                                    <tr v-for="n,index in nMonth">
                                                        <td>{{index+1}}</td>
                                                        <td>{{n}}</td>
                                                        <td>₱ {{convertMoney(kData[index])}}</td>
                                                        <td>₱ {{convertMoney(mData[index])}}</td>
                                                        <td class="has-background-grey-light">₱ {{convertMoney(total[index])}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="w3-col l3">&nbsp</div>
                                </div>
                            </div>

                        </div>
                        <br><br>
                        <!-- End -->

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../js/lib/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../js/lib/axios/dist/axios.min.js"></script>
    <script src="../js/lib/moment/min/moment.min.js"></script>
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/lib/lodash/lodash.js"></script>
    <script src="../js/scripts/commonLib.js"></script>
    
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/components/layouts/sideNav.js"></script>
    
    <script src="../js/instances/costSummary.js"></script>
</body>

</html>