<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/w3css/v4/w3.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>
<style type="text/css">
    .sidenav {
      height: 100%;
      position: fixed;
      width: 200px;
      z-index: 1;
      top: 0;
      left: 0;
      overflow-x: hidden;
      margin-top: 40px;
      padding-top: 40px;

    }
    .main {
      margin-left: 200px; /* Same as the width of the sidenav */
      margin-top: 80px;
      padding: 0px 10px;
    }
</style>
<body>
    
    <div id="dashboard" v-cloak>

        <header-nav
            :page-counter = "pageCounter"
            @copy-user-data="copyUserData"
        >
        </header-nav>
        <!-- END NAV -->
        <div class="">
            <div class="columns bp">
                
                <side-nav
                    :page-counter = "pageCounter"
                >
                </side-nav>

                <!-- MAIN -->

                <div class="column main">
                    <br>
                    <div class="w3-container">

                        <section class="hero is-info welcome is-small">
                            <div class="hero-body">
                                <div class="container">
                                    <h1 class="title">
                                        Hello, {{userData.userFullName}}.
                                    </h1>
                                    <h2 class="subtitle">
                                        I hope you are having a great day!
                                    </h2>
                                </div>
                            </div>
                        </section>
                        <!-- <section class="info-tiles">
                            <div class="tile is-ancestor has-text-centered">
                                <div class="tile is-parent">
                                    <article class="tile is-child box">
                                        <p class="title">439k</p>
                                        <p class="subtitle">Users</p>
                                    </article>
                                </div>
                                <div class="tile is-parent">
                                    <article class="tile is-child box">
                                        <p class="title">59k</p>
                                        <p class="subtitle">Products</p>
                                    </article>
                                </div>
                                <div class="tile is-parent">
                                    <article class="tile is-child box">
                                        <p class="title">3.4k</p>
                                        <p class="subtitle">Open Orders</p>
                                    </article>
                                </div>
                                <div class="tile is-parent">
                                    <article class="tile is-child box">
                                        <p class="title">19</p>
                                        <p class="subtitle">Exceptions</p>
                                    </article>
                                </div>
                            </div>
                        </section> -->
                        <br>
                        <div class="columns">
                            <div class="column is-6">
                                <div class="card events-card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            List of Products with low stocks
                                        </p>

                                    </header>
                                    <br>
                                    <div class="card-table w3-topbar w3-bottombar w3-border-blue">
                                        <div class="content">
                                            <table class="table is-fullwidth is-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Name</td>
                                                        <th>Product Type</td>
                                                        <th>Units</td>
                                                        <th>Quantity</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="p in lowStockProducts">
                                                        <td>{{p.name}}</td>
                                                        <td>{{p.description}}</td>
                                                        <td>{{p.unit}}</td>
                                                        <td>{{p.quantity}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="inventory.html" class="card-footer-item">View Products</a>
                                    </footer>
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="card events-card">
                                    <header class="card-header">
                                        <p class="card-header-title">
                                            Last 10 Transactions
                                        </p>

                                    </header>
                                    <br>
                                    <div class="card-table w3-topbar w3-bottombar w3-border-blue">
                                        <div class="content">
                                            <table class="table is-fullwidth is-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Date of Transaction</td>
                                                        <th>Type of Transaction</td>
                                                        <th>Staff</td>
                                                        <th>Cost of Transaction</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="t in transactions">
                                                        <td>{{t.last_modified}}</td>
                                                        <td>{{t.type_of_transaction}}</td>
                                                        <td>{{t.name}}</td>
                                                        <td>₱ {{convertMoney(Number(t.total_amount))}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <footer class="card-footer">
                                        <a href="transaction-incoming.html" class="card-footer-item">View Incoming Transactions</a>
                                        <a href="transaction-outgoing.html" class="card-footer-item">View Outgoing Transactions</a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../js/lib/vue/dist/vue.js"></script>
    <script src="../js/lib/axios/dist/axios.min.js"></script>
    <script src="../js/lib/moment/min/moment.min.js"></script>
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/lib/lodash/lodash.js"></script>
    
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/components/layouts/sideNav.js"></script>

    <script src="../js/instances/dashboard.js"></script>
</body>

</html>