<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage - Products </title>
    <link rel="stylesheet" href="../css/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/w3css/v4/w3.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-modal-fx-1.1.0/dist/css/modal-fx.min.css"> 
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-divider/dist/css/bulma-divider.min.css"> 

</head>
<style type="text/css">
    

</style>
<body>
    
    <div id="inventory" v-cloak>

        <header-nav
            :page-counter = "pageCounter"
            @copy-user-data="copyUserData"
        >
        </header-nav>
        <!-- END NAV -->
        <div class="">
            <div class="columns bp">
                
                <side-nav
                    :page-counter = "pageCounter"
                    :user-data = "userData"
                >
                </side-nav>

                <!-- MAIN -->
                <div class="column main">
                    <br>
                    <div class="w3-row w3-container">

                                <!-- Start -->
                                <div class="w3-row box w3-card">
                                    
                                    
                            
                                    <p class="is-size-4"> <i class="fas fa-warehouse"></i> Inventory</p>
                                    <!-- <div class="w3-row w3-right ">
                                        <button class="button is-info" @click="printRecords"><i class="far fa-file-pdf"></i> &nbsp Print Records</button>
                                    </div> -->

                                    <br>
                                    <filter-inventory
                                        :product-types = "productTypes"
                                        :stock-types = "stockTypes"
                                        :supplier-types = "supplierTypes"
                                        :supplier-lib = "supplierLib"
                                    >
                                    </filter-inventory>
                                    <br>
                                    <div class="w3-row w3-margin-bottom">
                                        <div class="w3-col l3">
                                            <div class="field has-addons">
                                                <p class="control">
                                                    <input class="input w3-border w3-border-black" v-model="searchInput" type="text" placeholder="Search Product" >
                                                </p>
                                                <p class="control">
                                                    <a class="button is-dark is-outlined" >
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w3-row">
                                        <table class="table is-fullwidth is-hoverable is-striped w3-border w3-round ">
                                            <thead>
                                                <tr class="has-background-link">
                                                    <th colspan="7" class=" has-text-white ">Product Lists &nbsp<i class="fas fa-boxes"></i></th>
                                                </tr>
                                                <tr class="has-background-dark">
                                                    <th class=" has-text-white ">#</th>
                                                    <th class=" has-text-white pointer" @click="clickSort(1)">
                                                        Name &nbsp
                                                        <span :class="{'has-text-primary' : sortedBy == 1 || sortedBy == 11}" ><i class="fas fa-sort"></i></span>
                                                       
                                                    </th>
                                                    <th class=" has-text-white pointer" @click="clickSort(2)">
                                                        Product Type &nbsp
                                                        <span :class="{'has-text-primary' : sortedBy == 2 || sortedBy == 12}" ><i class="fas fa-sort"></i></span>
                                                    </th>
                                                    <th class=" has-text-white ">Supplier</th>
                                                    <th class=" has-text-white ">Unit</th>
                                                    <th class=" has-text-white ">Price</th>
                                                    <th class=" has-text-white ">Quantity</th>
                                                </tr>
                                                <tr class="has-background-light w3-center" v-if="sortedProducts.length == 0">
                                                    <th colspan="7" class="w3-center">No Results Found.</i> &nbsp <i class="fas fa-coffee"></i></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="product,index in sortedProducts" 
                                                    :class="{'w3-pale-red': product.quantity == 0, 'w3-pale-green': product.quantity > 10, 'w3-pale-yellow': product.quantity > 0 && product.quantity < 10}"
                                                >
                                                    <td>{{index+1}}</td>
                                                    <td>{{product.name}}</td>
                                                    <td>{{product.product_description}}</td>
                                                    <td>{{product.supplier_name}}</td>
                                                    <td>{{product.unit_description}}</td>
                                                    <td>₱ {{convertMoney(Number(product.current_price))}}</td>
                                                    <td>
                                                        <b><span v-if="product.quantity == 0">OUT OF STOCK</span>
                                                        <span v-else="" >{{product.quantity}}</span></b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <br><br>
                                <!-- End -->

                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="../js/lib/vue/dist/vue.js"></script>
    <script src="../js/lib/axios/dist/axios.min.js"></script>
    <script src="../js/lib/moment/min/moment.min.js"></script>
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/lib/lodash/lodash.js"></script>
    <script src="../js/scripts/commonLib.js"></script>
    
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/components/layouts/sideNav.js"></script>
    
    <script src="../js/components/inventory/filterInventory.js"></script>

    <script src="../js/instances/inventory.js"></script>
</body>

</html>