<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage - Supplier </title>
    <link rel="stylesheet" href="../css/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/w3css/v4/w3.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-modal-fx-1.1.0/dist/css/modal-fx.min.css"> 
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-divider/dist/css/bulma-divider.min.css"> 

</head>
<style type="text/css">
    

</style>
<body>
    
    <div id="manageSupplier" v-cloak>

        <header-nav
            :page-counter = "pageCounter"
            @copy-user-data="copyUserData"
        >
        </header-nav>
        <!-- END NAV -->
        <div class="">
            <div class="columns bp">
                
                <side-nav
                    :page-counter = "pageCounter"
                    :user-data = "userData"
                >
                </side-nav>

                <!-- MAIN -->

                <div class="column main">
                    <br>
                    <div class="w3-row w3-container">
                            

                        <!-- Start -->
                        <div class="w3-row box w3-card">
                            
                            <div class="w3-row">
                                <div class="tabs is-centered is-boxed is-medium">
                                    <ul>
                                        <li class="">
                                        <a href="manage-products.html">
                                            <span class="icon is-small"><i class="fas fa-boxes"></i></span>
                                            <span><b>Products</b></span>
                                        </a>
                                        </li>
                                        <li class="is-active">
                                            <a href="manage-supplier.html">
                                                <span class="icon is-small"><i class="fas fa-truck-moving"></i></span>
                                                <span><b>Supplier</b></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="w3-row">
                                <br>
                                <p class="control">
                                    <button class="button is-link" @click="openAddSupplierModal">
                                        <i class="fas fa-plus-square"></i> &nbsp Add Supplier
                                    </button>
                                </p>
                            </div>
                            
                            <br>
                            <br>
                            <div class="w3-row">
                                <table class="table is-fullwidth is-hoverable is-striped w3-border w3-round ">
                                    <thead>
                                        <tr class="has-background-link">
                                            <th colspan="7" class=" has-text-white ">Supplier Lists &nbsp<i class="fas fa-truck-moving"></i></th>
                                        </tr>
                                        <tr class="has-background-dark">
                                            <th class=" has-text-white ">#</th>
                                            <th class=" has-text-white ">Supplier</th>
                                            <th class=" has-text-white ">Address</th>
                                            <th class=" has-text-white ">Contact Number</th>
                                            <th class=" has-text-white ">Contact Person</th>
                                            <th class=" has-text-white w3-border-left w3-center"></th>
                                            <th class=" has-text-white w3-border-left w3-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="supplier,index in supplierLib">
                                            <td>{{index+1}}</td>
                                            <td>{{supplier.supplier_name}}</td>
                                            <td>{{supplier.supplier_address}}</td>
                                            <td>{{supplier.supplier_contact_number}}</td>
                                            <td>{{supplier.supplier_contact_person}}</td>
                                            <td class="w3-center has-text-link w3-border-left pointer" @click="openUpdateSupplierModal(index)"><i class="fas fa-edit"></i></td>
                                            <td class="w3-center has-text-danger w3-border-left pointer" @click="archiveSupplier(supplier.supplier_id)"><i class="fas fa-trash-alt"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <br><br>
                        <!-- End -->

                        <div class="modal" :class="{'is-active' : isOpenAddSupplierModal}">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                            
                            <section class="modal-card-body">
                                
                                <div class="w3-row w3-container">
                                    <br>
                                    <div class="w3-row">
                                        <label><b>Supplier Name</b></label>
                                        <input class="input upperCase" :class="" maxlength="80" 
                                            v-model = "supplier.name.value"
                                        >
                                        <p class="help is-danger"></p>
                                    </div>
                                    <br>
                                    <div class="w3-row">
                                        <label><b>Address</b></label>
                                        <input class="input upperCase" :class="" maxlength="100" 
                                            v-model = "supplier.address.value"
                                        >
                                        <p class="help is-danger"></p>
                                    </div>
                                    <br>
                                    <div class="w3-row">
                                        <label><b>Contact Number</b></label>
                                        <input class="input upperCase" :class="" maxlength="11" 
                                            v-model = "supplier.contactNumber.value"
                                        >
                                        <p class="help is-danger"></p>
                                    </div>
                                    <br>
                                    <div class="w3-row">
                                        <label><b>Contact Person</b></label>
                                        <input class="input upperCase" :class="" maxlength="100"
                                            v-model = "supplier.contactPerson.value" 
                                        >
                                        <p class="help is-danger"></p>
                                    </div>
                                    <br>

                                    <div class="w3-row">
                                        <label><b>Remarks</b></label>
                                        <textarea class="textarea upperCase" :class=""
                                            v-model = "supplier.remarks.value" 
                                            rows="3" 
                                        ></textarea> 
                                        <p class="help is-danger"></p>
                                    </div>

                                    
                                </div>



                            </section>
                            <footer class="modal-card-foot">
                                <div class="w3-row w3-container">
                                    <button class="button is-link" @click="saveSupplier" v-if="isForAdding">Save</button>
                                    <button class="button is-link" @click="updateSupplier" v-else="">Save Change</button>
                                    <button class="button" @click="closeAddSupplierModal">Cancel</button>
                                </div>
                            </footer>
                            </div>
                        </div>

                        <!-- Error message -->
                        <div class="modal" :class="{'is-active' : mMessage != ''}">
                            <div class="modal-background" @click="closeMMessage"></div>
                            <div class="modal-content box">
                                <p :class="mMessageType">{{mMessage}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../js/lib/vue/dist/vue.js"></script>
    <script src="../js/lib/axios/dist/axios.min.js"></script>
    <script src="../js/lib/moment/min/moment.min.js"></script>
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/lib/lodash/lodash.js"></script>
    <script src="../js/scripts/commonLib.js"></script>
    
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/components/layouts/sideNav.js"></script>
    
    <script src="../js/instances/manageSupplier.js"></script>
</body>

</html>