<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transaction - Incoming </title>
    <link rel="stylesheet" href="../css/lib/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/w3css/v4/w3.css">
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-modal-fx-1.1.0/dist/css/modal-fx.min.css"> 
    <link rel="stylesheet" type="text/css" href="../css/lib/bulma-divider/dist/css/bulma-divider.min.css"> 

</head>
<style type="text/css">
    

</style>
<body>
    
    <div id="transactionIncoming" v-cloak>

        <header-nav
            :page-counter = "pageCounter"
            @copy-user-data="copyUserData"
        >
        </header-nav>
        <!-- END NAV -->
        <div class="">
            <div class="columns bp">
                
                <side-nav
                    :page-counter = "pageCounter"
                >
                </side-nav>

                <!-- MAIN -->
                <div class="column main">
                    <br>
                    <div class="w3-row w3-container">
                        <div class="columns">
                            <div class="column is-1"></div>
                            <div class="column is-10">

                                <!-- Start -->
                                <div class="w3-row box w3-card">
                                    
                                    <inc-out-tab
                                        :tab-counter = "tabCounter"
                                    >
                                    </inc-out-tab>

                                    <br>

                                    <dates-selection
                                        @config-date-label="configDateLabel"
                                        @fetch-records = "fetchIncomingTransactions"
                                    >
                                    </dates-selection>

                                    <div class="w3-row">
                                        <br>
                                        <p class="control">
                                            <button class="button is-link" @click="openAddModal">
                                                <i class="fas fa-plus-square"></i> &nbsp Add Incoming Transaction
                                            </button>
                                        </p>
                                    </div>
                                    
                                    <br>

                                    <incoming-transaction-table
                                        :transactions = "incomingTransactions"
                                        :date-label = "dateLabel"
                                        :user-data = "userData"

                                        @open-view-modal = "openViewModal"
                                        @void-transaction="voidTransaction"
                                    >
                                    </incoming-transaction-table>

                                </div>

                                <!-- End -->

                            </div>
                            <div class="column is-1"></div>

                            <div id="modal-fadeInScale-fs" class="modal modal-full-screen modal-fx-fadeInScale" :class="{'is-active' : isOpenAddModal}">
                                <div class="modal-background" @click="closeMMessage"></div>
                                <div class="modal-content modal-card">

                                    <header class="modal-card-head">
                                        <p class="modal-card-title"><b>Add Incoming Supplies</b></p>
                                        <button class="modal-button-close delete" @click="closeModal" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                    <!-- Modal card body -->
                                        <div class="w3-row">
                                            <div class="w3-col l1">&nbsp</div>
                                            <div class="w3-col l10" >
                                                
                                                <div class="w3-row-padding" v-if="isForAdding">
                                                    <div class="w3-col l3">
                                                        <div class="select is-fullwidth" >
                                                            <select v-model="product.index.value" @change="selectProduct" ref="productSelect">
                                                                <option value="-1">Please Select Product</option>
                                                                <option v-for="product,index in productLib" :value="index">{{product.name}}</option>
                                                            </select>
                                                        </div>
                                                        <p class="help"><b>Product</b></p>
                                                        <p class="help is-danger">{{product.index.error}}</p>
                                                    </div>
                                                    <div class="w3-col l8">
                                                        <div class="w3-row-padding">
                                                            <div class="w3-col l3">
                                                                
                                                                <div class="field">
                                                                    <div class="control has-icons-left has-icons-right">
                                                                        <input class="input upperCase" :class="" maxlength="10" 
                                                                            type="text" v-model="product.price.value"
                                                                        >
                                                                        <span class="icon is-left">
                                                                            ₱
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <p class="help"><b>Price</b></p>
                                                                <p class="help is-danger">{{product.price.error}}</p>
                                                            </div>
                                                            <div class="w3-col l3">
                                                                <input class="input upperCase" :class="" maxlength="5" type="text" 
                                                                    v-model="product.unit.value" disabled="" 
                                                                >
                                                                <p class="help"><b>Unit</b></p>   
                                                            </div>
                                                            <div class="w3-col l3">
                                                                <input class="input upperCase" :class="" maxlength="5" type="number" 
                                                                    v-model="product.quantity.value"
                                                                >
                                                                <p class="help"><b>Quantity</b></p>
                                                                <p class="help is-danger">{{product.quantity.error}}</p>
                                                            </div>
                                                            <div class="w3-col l3">
                                                                <input class="input" :class="" type="date" 
                                                                    v-model="product.expirationDate.value"
                                                                >
                                                                <p class="help"><b>Expiration Date</b></p>
                                                                <p class="help is-danger">{{product.expirationDate.error}}</p>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="w3-col l1">
                                                        <div class="w3-col l3 w3-right-align">
                                                            <button class="button is-link" @click="addProduct">&nbsp <i class="fas fa-plus-square"></i>&nbsp Add &nbsp </button> 
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                

                                                <div class="is-divider" data-content="PRODUCTS"></div>
                                                
                                                <div class="w3-row w3-container" v-show="transaction.products.length > 0">
                                                    <table class="table is-fullwidth is-hoverable is-striped w3-border w3-round ">
                                                        <thead>
                                                            <tr class="has-background-dark">
                                                                <th class=" has-text-white ">#</th>
                                                                <th class=" has-text-white ">Description</th>
                                                                <th class=" has-text-white ">Quantity</th>
                                                                <th class=" has-text-white ">Unit</th>
                                                                <th class=" has-text-white ">Price</th>
                                                                <th class=" has-text-white">Total Amount</th>
                                                                <th class=" has-text-white w3-border-left w3-center" v-if="isForAdding"></th>
                                                            </tr>
                                                        </thead>
                                                        <tfoot>
                                                            <tr>
                                                                <th class="w3-right-align w3-border-right" colspan="5">Total:</th>
                                                                <th class="w3-left-align w3-border-right" colspan="2" v-if="isForAdding">
                                                                    ₱{{convertMoney(totalAmount)}}
                                                                </th>
                                                                <th class="w3-left-align w3-border-right" colspan="1" v-else="">
                                                                    ₱{{convertMoney(totalAmount)}}
                                                                </th>
                                                            </tr>
                                                        </tfoot>
                                                        <tbody>
                                                            <tr v-for="prod,index in transaction.products">
                                                                <td>{{index+1}}</td>
                                                                <td>{{prod.name}}</td>
                                                                <td>{{prod.quantity}}</td>
                                                                <td>{{prod.unit}}</td>
                                                                <td>₱{{convertMoney(prod.product_price)}}</td>
                                                                <td>₱{{convertMoney(prod.amount)}}</td>
                                                                <td class="w3-center has-text-danger w3-border-left pointer" @click="deleteProduct(index)" v-if="isForAdding"><i class="fas fa-trash-alt"></i></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <div class="w3-col l1">&nbsp</div>
                                        </div>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="modal-button-close button is-link" @click="viewProductDetails" v-if="isForAdding" :disabled="transaction.products.length < 1"><i class="fas fa-truck-loading"></i> &nbsp Receive</button>
                                        
                                        <button class="modal-button-close button" @click="closeModal">Cancel</button>
                                    </footer>
                                </div>
                            </div>
                            <!-- Error message -->
                            <div class="modal" :class="{'is-active' : mMessage != ''}">
                                <div class="modal-background" @click="closeMMessage"></div>
                                <div class="modal-content box">
                                    <p :class="mMessageType">{{mMessage}} 
                                        <span v-show="mMessage == 'Saving transaction. Please wait!'">
                                            &nbsp<i class="fas fa-spinner fa-pulse"></i>
                                        </span>
                                        <span v-show="mMessage == 'Voiding transaction. Please wait!'">
                                            &nbsp<i class="fas fa-spinner fa-pulse"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <product-detail-modal
                                :products = "transaction.products"
                                :is-active = "isActiveProductModal"

                                @save-transaction="saveIncomingTransaction"
                                @close="closeProductDetails"
                            >
                            </product-detail-modal>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../js/lib/vue/dist/vue.js"></script>
    <script src="../js/lib/axios/dist/axios.min.js"></script>
    <script src="../js/lib/moment/min/moment.min.js"></script>
    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/lib/lodash/lodash.js"></script>
    <script src="../js/scripts/commonLib.js"></script>
    <script src="../js/scripts/validationRoutines.js"></script>
    <script src="../js/components/datesSelection.js"></script>

    <script src="../js/components/layouts/header.js"></script>
    <script src="../js/components/layouts/sideNav.js"></script>
    <script src="../js/components/transaction/incOutTab.js"></script>
    <script src="../js/components/transaction/productDetailModal.js"></script>
    <script src="../js/components/incomingTransaction/incomingTransactionTable.js"></script>
    
    <script src="../js/instances/transactionIncoming.js"></script>
    

</body>

</html>